body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #eeeff0;
}

/* Vertical navigation bar */
.nav-sidebar {
    width: 250px;
    background-color: #FEB440;
    display: flex;
    flex-direction: column;
}

/* Logo container */
.logo-container {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 60%;
    height: auto;
    border-radius: 4px;
}

/* Navigation links */
.nav-sidebar a {
    color: black;
    text-align: left;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav-sidebar a i {
    margin-right: 10px;
    font-size: 20px;
}

.nav-sidebar a:hover {
    color: white;
    background-color: #C07500;
}

/* Active link style */
.nav-sidebar a.active {
    color: white;
    background-color: #C07500;
}

/* Main content area */
.main-content {
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Top navigation bar */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeff0;
    padding: 60px 50px 25px;
    border-bottom: 2px solid #cecdcd;
}

/* Search bar in top navigation */
.top-search-bar {
    display: flex;
    flex-grow: 1;
    max-width: 40%; /* Set the maximum width of the search bar */
}

.top-search-bar .input-group {
    width: 40%;
}

.top-search-bar .form-control {
    border-radius: 0 0 0 0;
    border: 2px solid #cecdcd;
    border-left: 0px;
    padding: 15px 15px 15px 5px;
    transition: border-color 0.3s ease-in-out;
    height: 50px;
    box-shadow: none; /* Remove default shadow */
}

.top-search-bar .form-control:focus {
    outline: none;
    box-shadow: none; /* Ensures no shadow when focused */
}

.input-group-append .input-group-text {
    border-radius: 0 20px 20px 0;
    background-color: #ffffff;
    border: none;
    height: 46px;
    width: 45px;
    cursor: pointer;
}

.input-group-append .input-group-text:hover {
    background-color: #ccc;
}

.input-group-append {
    border-top: 2px solid #cecdcd;
    border-right: 0px solid #cecdcd;
    border-bottom: 2px solid #cecdcd;
    border-left: 2px solid #cecdcd;
}

/* Notification and profile icons */
.top-nav-icons {
    display: flex;
    align-items: center;
}

.top-nav-icons .top-icon {
    color: #343a40;
    font-size: 24px;
    margin-left: 20px;
    text-decoration: none;
}

.top-nav-icons .top-icon:hover {
    color: #007bff;
}

/* Content area */
.users-table-container{
    margin: 30px;
}
.header{
    padding: 20px;
    background-color: #FEB440;
    display: flex; 
    justify-content: space-between; 
    align-items: center;  
}
.header h2{
    padding-top: 5px;
    padding-left: 40px;
}
.add-user-btn {
    margin-right: 40px;
    margin-left: 40px;
    padding: 10px 20px;
    flex-direction: row;
    background-color: #f3f3f3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Align icon and text */
    align-items: center; /* Center icon and text vertically */
}
.add-user-btn i {
    margin-right: 15px;
    font-size: 25px;
}
.icon-link svg {
    margin-right: 8px; /* Space between icon and text */
    width: 25px; /* Increased icon size */
    height: 25px; /* Increased icon size */
}
.add-user-btn p {
    margin: 0; /* Remove default margin */
    line-height: 1; /* Optional: Adjust line height */
    font-size: 16px; /* Optional: Set font size */
}
.add-user-btn:hover {
    color: black;
    background-color: #cfcfcf; /* Darken on hover */
}